#Конфигурационный файл

#Входное описание:
#Данный файл должен находиться в корне проекта.
#Редактор кода должен поддерживать возможность использовать editrconfig
#Можно посмотреть на сайте https://editorconfig.org/ и скачать оттуда плагин.
#VSCode - требует

root = true #означает, что файл лежит в корне

[*] #Для всех файлов использовать нижеуказанные настройки

indent_style = space #В качестве отступов использовать пробелы
indent_size = 2 #Один отступ равен указанному чзесь числу пробелов
end_of_line = lf #Конец строки, что бы это не значило
charset = utf-8 #Кодировка по-умолчанию UDF-8
trim_trailing_whitespace = true #Убирает пустые пробелы в конце строки после нажатия сохранить
insert_final_newline = true #Перевод каретки на новую строку после последнего текста после нажатия сохранить


#Ниже указаны исключения, пример того, как будут вести настройки в укуазанных файлах
[*.{json,md}] # *-Означает все файлы.с расширением (перечисление), а ниже описывается поведени
indent_size = 2